# Analysis on Personal Spending

### Import bank transactions
### Extrapolate into the future

In [125]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [126]:
#note I had issues with one of the files having additional colummns due to the values containing 'commas' - manually corrected this file.
#ideally I'd export in a different format, or rpelace the commas before epxortin  but neither are possible in this case

#folder containing one or more csv file to import
inputfolder = 'C:\\Users\\mcleodb\\Documents\\SpendFiles\\'
os.chdir(inputfolder)
files = os.listdir()
templist = []
#import each file to temp dataframe and append to the main one - adding column to capture the source
for i in files:
    loc = inputfolder + i
    print('loc: ',loc)
    tempdf = pd.read_csv(loc)
    tempdf['sourcefile'] = i
    templist.append(tempdf)
    dfraw = pd.concat(templist)

loc:  C:\Users\mcleodb\Documents\SpendFiles\trans140321 loan1.csv
loc:  C:\Users\mcleodb\Documents\SpendFiles\trans140321 loan2.csv
loc:  C:\Users\mcleodb\Documents\SpendFiles\trans140321 sav.csv
loc:  C:\Users\mcleodb\Documents\SpendFiles\trans140321 xcc.csv

In [140]:
#data cleaning - formatting dates, and consolidating debit/credit to single column
dfraw['Debit_neg'] = dfraw['Debit'] * -1
dfraw['dr_cr'] = dfraw[['Debit_neg','Credit']].sum(axis=1)
df = dfraw[['Description', 'dr_cr', 'Category',
       'SubCategory', 'sourcefile']].copy() 
df['Date_Formatted'] = pd.to_datetime(dfraw['Date'],format=r'%Y%m%d')

In [137]:
df.head()

,Description,dr_cr,Debit_neg,Credit,Balance,Category,SubCategory,sourcefile,Date_Formatted
0,Repaymt A/C Tfr,345.69,NaN,345.69,376966.33,NaN,NaN,trans140321 loan1.csv,2021-03-13
1,Repaymt A/C Tfr,23.31,NaN,23.31,377312.02,NaN,NaN,trans140321 loan1.csv,2021-03-12
2,Admin Fee,0.00,NaN,0.00,377335.33,NaN,NaN,trans140321 loan1.csv,2021-03-08
3,Interest,-649.01,-649.01,NaN,377335.33,NaN,NaN,trans140321 loan1.csv,2021-03-08
4,Repaymt A/C Tfr,437.98,NaN,437.98,376686.32,NaN,NaN,trans140321 loan1.csv,2021-03-07

In [138]:
df['sourcefile'].value_counts()

trans140321 sav.csv      880
trans140321 xcc.csv      323
trans140321 loan2.csv    128
trans140321 loan1.csv     76
Name: sourcefile, dtype: int64

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1407 entries, 0 to 322
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Description     1407 non-null   object
 1   dr_cr           1407 non-null   float64
 2   Debit_neg       1161 non-null   float64
 3   Credit          246 non-null    float64
 4   Balance         1084 non-null   float64
 5   Category        1203 non-null   object
 6   SubCategory     1203 non-null   object
 7   sourcefile      1407 non-null   object
 8   Date_Formatted  1407 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(4)
memory usage: 109.9+ KB

In [145]:
df.to_csv('export.csv')